<p id="notice"><%= notice %></p>

<p>
  <%= attachment_image_tag @user, :photo, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
</p>

<p>
  <strong>商品名:</strong>
  <%= @product.product_name %>
</p>
<p>
  <strong>アーティスト名:</strong>
  <%= @product.artist.artist_name %>
</p>
<p>
  <strong>価格（税抜）:</strong>
  <%= @product.product_price %>
</p>
<p>
  <strong>ジャンル名:</strong>

 <%= @product.genre.genre_name %>

</p>

<p>
  <strong>レーベル名:</strong>
  <%= @product.label.label_name %>
</p>

<p>
  <strong>在庫数:</strong>
  <%= @product.stock %>
<p>
  <strong>ステータス（販売中・販売停止中）:</strong>
  <%= @product.sales_status %>
</p>

  <% @product.deleted_at %>

<p>
  <div>収録内容</div>

  <strong>Is deleted:</strong>
  <%= @product.deleted_at %>
</p>
<!--idをもった情報を更新するため、@product(id)情報が必要-->
          <div class="row">
					  <%= form_for([:end_user, @product, @cart_item]) do |f| %>
              個数:
						  <%= f.select :cart_sum, [["1点", 1],["2点", 2]], class:"btn btn-primary form-control mt-5 col-sm-12" %>
          <%= f.submit "cartに入れる" %>
          </div>
          <% end %>

<%= link_to 'トップへ', end_user_root_path %>
