<p id="notice"><%= notice %></p>

<p>
  <strong>Genre:</strong>
  <%= @genre　%>
</p>

<p>
  <strong>Label:</strong>
  <%= @label %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @artist %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @product.photo_id %>
</p>

<p>
  <strong>Product price:</strong>
  <%= @product.product_price %>
</p>

<p>
  <strong>Sales status:</strong>
  <%= @product.sales_status %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @product.is_deleted %>
</p>


<%= link_to 'Back', end_user_root_path %>
