<p id="notice"><%= notice %></p>
<div class = "container">
  <div class = "row col-lg-12">
    <h2><span class="label label-success">登録商品詳細</span></h2>
  </div>
  <div class = "row">
    <div class="col-lg-3 col-md-offset-3">
      <%= attachment_image_tag @product, :photo, :fill, 200, 200, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></p>
    </div>
    <div class="col-lg-3 text-left">
        <p>ジャンル名:<%= @product.genre.genre_name %></p>
        <p>レーベル名:<%= @product.label.label_name %></p>
        <p>アーティスト名:<%= @product.artist.artist_name %></p>
        <p>商品価格:<%= @product.product_price.to_s(:currency, locale: :ja) %></p>
        <p>商品ステータス:<%= @product.sales_status_i18n %></p>
        <p>商品名:<%= @product.product_name %></p>
      <div>収録内容</div>
      <% @disc.each do |disc| %>
      <p class="bg-primary text-center">DISC NO. <%= disc.disc_no %></p>

         <table>
        <% disc.songs.each do |song| %>
        <tr>
          <td>
            <p>NO.<%= song.song_no %></p>
          </td>
          <td width = "300px">
            <p class="text-center" ><%= song.song_name %></p>
          </td>
        <tr>
        <% end %>
        </table>
    <% end %>
    </div>
  </div>
  <p class="bg-info text-center col-lg-4 col-md-offset-4">在庫数:<%= @product.stock %><p>
<br>
<!--cart-->
<% if @product.stock_array.blank? then %>
<div class="alert alert-warning">
  <strong>売り切れ中！！</strong> 入荷するまで待ってね！！
</div>
<% else %>
          <div class="">
					<%= form_for([:end_user, @product, @cart_item]) do |f| %>
              個数:
						  <%= f.select :cart_sum, @product.stock_array, class:"btn btn-primary form-control mt-5 col-sm-12" %>
          <%= f.submit "cartに入れる",class:"btn-sm btn-primary" %>
          </div>
          <% end %>
<% end %>
<div crass = row >
<%= link_to '商品一覧へ戻る', end_user_root_path, class:"btn-sm btn-success" %>
</div>
</p>

</div>