<h2><span class="label label-info">登録アーティスト一覧</span></h2>

<%= form_for(@artist) do |f| %>
<div class="field">
  <%= f.label :'アーティスト名'%><br>
  <%= f.text_field :artist_name, autofocus: true %>
</div>
<%= f.submit '新規アーティスト名を登録する', class:"btn btn-primary" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>アーティスト名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.artist_name %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
