<p id="notice"><%= notice %></p>

<p>
  <strong>End user:</strong>
  <%= @cart_item.end_user_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cart_item.product_id %>
</p>

<p>
  <strong>Cart sum:</strong>
  <%= @cart_item.cart_sum %>
</p>

<p>
  <strong>Cart sum:</strong>
  <%= @cart_item.cart_sum %>
</p>

<%= link_to 'Edit', edit_cart_item_path(@cart_item) %> |
<%= link_to 'Back', cart_items_path %>
