<h1>arrival_new</h1>
<table border="1">
<tr>
  <th>商品名:</th>
  <td><%= @product.product_name %></td>
</tr>
<tr>
  <th>アーティスト名:</th>
  <%= @product.artist.artist_name %>
</tr>
<tr>
  <th>価格(税込み):</th>
  <%= @product.product.product_price %>
</tr>

<%= link_to 'Edit', edit_arrival_path(@arrival) %> |
<%= link_to 'Back', arrivals_path %>


<table border="1">
<tr>
<th>商品名(シングル・アルバム名)</th>
<td><%= %>
</table>