<div class="admin-order">
    <h2><span class="label label-info">ご注文履歴一覧</span></h2>
        <table border="1">
            <tr>
            <th>注文番号</th>
            <th>購入日</th>
            <th>氏名</th>
            <th>商品名</th>
            <th>購入枚数</th>
            <th>小計</th>
            <th>購入価格総計</th>
            <th>ステータス</th>
            </tr>

            <!--order情報を繰り返し-->
            <% @orders.each do |order| %>
                <tr>
                    <td><%= link_to order.id, admin_order_path(order) %></td>
                    <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
                    <td><%= order.end_user.family_name_kanji %><%= order.end_user.given_name_kanji %></td>
                    <!--orderの中でorderdetial情報を繰り返す-->
                    <% order.order_details.each do |order_detail|%>
                        <!--たくさんあるorderdetailの箱の中で１つのproduct情報をもってくる-->
                        <td><%= order_detail.product.product_name %></td>
                        <td><%= order_detail.unit %></td>
                        <td><%= order_detail.unit_price.to_s(:currency, locale: :ja) %></td>
                    <% end %>
                    <td><%= order.total_price.to_s(:currency, locale: :ja) %></td>
                    <td><%= order.order_status_i18n %></td>
                </tr>
            <% end %>
        <%= paginate @orders %>
</div>
