<header>
  <div class="container">
    <div class="row">
      <nav class="nav navbar-nav navbar-left logo">
        <%= link_to image_tag('logo.png', :size=>'200x50'), admin_root_path %>
      </nav>
      <nav class="header-icon">
        <p class="header-letter">
          <%= link_to admin_orders_path do %>
          <i class="fas fa-desktop fa-3x"></i>
          <% end %>
          <br>Order</p>
        <p class="header-letter">
          <%= link_to admin_products_path do %>
          <i class="fas fa-compact-disc fa-3x"></i>
          <% end %>
          <br>Product</p>
        <p class="header-letter">
          <%= link_to admin_end_users_path do %>
          <i class="fas fa-user fa-3x"></i>
          <% end %>
          <br>User</p>
        <p class="header-letter">
          <%= link_to destroy_admin_user_session_path, method: :delete do %>
          <i class="fas fa-shoe-prints fa-3x"></i>
          <% end %>
          <br>Log Out</p>
        <!-- ドロワーエリア -->
        <div class="l-drawer">
          <input class="l-drawer__checkbox" id="drawerCheckbox" type="checkbox">
          <!-- ドロワーアイコン -->
          <label class="l-drawer__icon" for="drawerCheckbox">
            <span class="l-drawer__icon-parts"></span>
          </label>
          <!-- 背景を暗く -->
          <label class="l-drawer__overlay" for="drawerCheckbox"></label>
          <!-- ドロワーメニュー -->
          <nav class="l-drawer__menu">
            <ul>
              <li class="l-drawer__item">
                <%= link_to  "Genre", genres_path, class:"l-drawer__item-inner" %>
              </li>
              <li class="l-drawer__item">
                <%= link_to  "Label", labels_path, class:"l-drawer__item-inner" %>
              </li>
              <li class="l-drawer__item">
                <%= link_to  "Artist", artists_path, class:"l-drawer__item-inner" %>
              </li>
            </ul>
          </nav>
        </div><!-- /ドロワーメニュー -->
      </nav>
    </div>
  </div>
</header>
