<header>
  <div class="container">
    <div class="row">
      <nav class="nav navbar-nav navbar-left logo">
        <%= link_to image_tag('logo.png', :size=>'200x50'), '#'%>
      </nav>
      <nav class="header-icon">
        <p>
          <%= link_to '#' do %>
          <i class="fas fa-cogs fa-3x"></i>
          <% end %>
          <br>Setting</p>
        <p>
          <%= link_to '#' do %>
          <i class="fas fa-desktop fa-3x"></i>
          <% end %>
          <br>Order</p>
        <p>
          <%= link_to '#' do %>
          <i class="fas fa-compact-disc fa-3x"></i>
          <% end %>
          <br>Product</p>
        <p>
          <%= link_to admin_end_users_path do %>
          <i class="fas fa-user fa-3x"></i>
          <% end %>
          <br>User</p>
        <p>
          <%= link_to destroy_admin_user_session_path, method: :delete do %>
          <i class="fas fa-shoe-prints fa-3x"></i>
          <% end %>
          <br>Log Out</p>
      </nav>
    </div>
  </div>
</header>
