<p id="notice"><%= notice %></p>

<p>
  <strong>End user:</strong>
  <%= @order.end_user_id %>
</p>

<p>
  <strong>Delivery cost:</strong>
  <%= @order.delivery_cost %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong>Order post code:</strong>
  <%= @order.order_post_code %>
</p>

<p>
  <strong>Order address:</strong>
  <%= @order.order_address %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
