<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @disc.product_id %>
</p>

<p>
  <strong>Disc no:</strong>
  <%= @disc.disc_no %>
</p>

<%= link_to 'Edit', edit_disc_path(@disc) %> |
<%= link_to 'Back', discs_path %>
