<h1>会員様詳細情報画面</h1>
<table align="center" class="" border="1" width="50%" height="50">
    <tr>
      <th>お客様ID</th>
      <td><%= @end_user.id %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @end_user.email %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @end_user.address %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @end_user.post_code %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @end_user.phone_number %></td>
    </tr>
</table>
<h3>この会員様の注文一覧</h3>
<table class="" border="1" width="100%" height="50">
  <thead>
    <tr>
      <th>注文ID</th>
      <th>購入日</th>
      <th>商品名</th>
      <th>購入点数</th>
      <th>小計</th>
      <th>送付先</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @end_user.orders.each do |order| %>
    <tr align="center">
      <td><%= order.id %></td>
      <td><%= order.created_at %></td>
      <%= order.order_dedails.each do |detail| >
        <td><%= detail.product.product_name %></td>
      <% end %>
      <td><%= @order_detail.unit %></td>
      <td><%= @order_detail.price %></td>
      <td><%= order.order_address %></td>
      <td><%= order.order_status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "この会員様の情報を編集する", edit_admin_end_user_path(@end_user) %>
