<div class="container">
  <h2><span class="label label-info">商品一覧</span></h2>

  <% unless @products.present? %>
  <h2>検索結果がありません</h2>
  <% end %>

  <%= form_tag(end_user_root_path, :method => 'get' ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag '商品を検索する', :product_name => nil %>
  <% end %>
  <div class="row">
    <% @products.each do |product| %>
      <div class="pdflex">
        <%= link_to end_user_product_path(product) do %>
        <div class="flex item1"><%= attachment_image_tag product, :photo, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg", size:'200x200' %></div>
        <% end %>
        <div class="flex item2"><%= link_to product.product_name, end_user_product_path(product) %></div></<div>
        <div class="flex item3"><%= product.product_price.to_s(:currency, locale: :ja) %></div></<div>
      </div>
    <% end %>
</div>
        <%= paginate @products %>
  </div>
