<div class="nested-fields well well-compact ">
    <div class="form-group">
        <%= f.number_field :disc_no %><br>
        <%= link_to_remove_association "disc削除", f %>
    </div>
    <div class="items">
        <%= f.fields_for :songs do |song| %>
            <%= render 'song_fields', f: song %>
        <%end%>
        <div class="links">
            <%= link_to_add_association "song追加", f, :songs %>
        </div>
    </div>
</div>