<h2><span class="label label-success">登録商品情報編集</span></h2>

<%= form_for ([:admin, @product]) do |f| %>
  <div class="field">
    <%= f.label :'ジャケット写真' %>
    <%= f.attachment_field :photo %>
  </div>
  <div class="field">
    <%= f.label :'ジャンル名' %>
    <%= f.select :genre_id, Genre.all.map {|k| [k.genre_name, k.id]} %>

  </div>
  <div class="field">
    <%= f.label :'レーベル名' %>
    <%= f.select :label_id, Label.all.map {|k| [k.label_name, k.id]} %>
  </div>
  <div class="field">
    <%= f.label :'アーティスト名' %>
    <%= f.select :artist_id, Artist.all.map {|k| [k.artist_name, k.id]} %>
  </div>
  <div class="field">
    <%= f.label :'商品価格' %>
    <%= f.text_field :product_price %>
  </div>
  <div class="field">
    <%= f.label :'商品名' %>
    <%= f.text_field :product_name %>
  </div>
  <div class="field">
    <%= f.select :sales_status, Product.sales_statuses.keys.map {|k| [I18n.t("enums.product.sales_status.#{k}"), k]} %>
  </div>
  <%= f.submit "変更を保存する", class:"btn-sm btn-success" %>
  <% end %>

<% @disc.each do |disc| %>
  <p>DISC NO</p>
  <%= disc.desc_no %>
    <% @songs.each do |song| %>
    <%= song.song_no %>
    <%= song.song_name %>
  <% end %>
<% end %>

<br>
<%= link_to '商品詳細に戻る', admin_product_path(@product), class:"btn-sm btn-success" %>
<%= link_to '商品情報を削除する', admin_products_path, class:"btn-sm btn-danger", "data-confirm" => "本当に商品情報を削除ますか？"  %>
