<div class="container">
    <div class="row">
            <h2><span class="label label-info">新規商品</span></h2>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
        <table border="0"">
            <%= form_for @product , url: admin_products_path do |form| %>
            <tr>
            <th class="new-left">画像</th>
            <td class="new-right"><%= form.attachment_field :photo, placeholder: "画像" %></td>
            </tr>
            <tr>
            <th class="new-left">商品名（シングル・アルバム名）</th>
            <td class="new-right"><%= form.text_field :product_name %></td>
            </tr>
            <tr>
            <th class="new-left">アーティスト名</th>
            <td class="new-right"><%= autocomplete_field_tag 'artist[name]', nil ,  autocomplete_artist_artist_name_admin_products_path %></td>
            </tr>
            <tr>
            <th class="new-left">価格（税別）</th>
            <td class="new-right"><%= form.text_field :product_price %></td>
            </tr>
            <tr>
            <th class="new-left">ジャンル</th>
            <td class="new-right"><%= form.select :genre_id, options_for_select(@genres_for_options) %></td>
            </tr>
            <tr>
            <th class="new-left">ステータス</th>
            <td class="new-right"><%= form.select :sales_status, Product.sales_statuses.keys.map {|k| [I18n.t("enums.product.sales_status.#{k}"), k]} %></td>
            </tr>
            <tr>
            <th class="new-left">レーベル</th>
            <td class="new-right"><%= form.select :label_id, options_for_select(@labels_for_options) %></td>
            </tr>
        </table>
        </div>
        <div class="col-lg-4"></div>
    </div>
        <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
                <%= render 'form', f: form %>
                <%= form.submit %>
            <% end %>
            <%= link_to 'Back', new_admin_product_path %>
        </div>
        <div class="col-lg-4"></div>
        </div>
</div>











