<p>新規商品</p>

<%= form_for @product , url: admin_products_path do |f| %>
    <%= f.attachment_field :photo, placeholder: "画像" %>
    商品名（シングル・アルバム名）
    <%= f.text_field :product_name %>
    アーティスト名
    <%
=begin%>
 <%= autocomplete_field_tag 'artist[name]', nil,  autocomplete_artist_name_artists_path %> 
<%
=end%>
    価格（税別）
<%= f.text_field :product_price %>

    <%
=begin%>
 ジャンル
    <%= f.select genre,[["ロック","ロック"],["ポップス","ポップス"]]%>
 
<%
=end%>
<% end %>
<%= @product.each do |p|  %>
    <%= @disc.each do | product_disc | %>
        <%= product_disc.disc_no %>
<%end%>
<%end%>



