<p id="notice"><%= notice %></p>


<p>
  <strong>Genre:</strong>

  <%= @product.genre.genre_name %>

</p>

<p>
  <strong>Label:</strong>
  <%= @product.label.label_name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @product.artist.artist_name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= attachment_image_tag @user, :photo, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
</p>

<p>
  <strong>Product price:</strong>
  <%= @product.product_price %>
</p>

<p>
  <strong>Sales status:</strong>
  <%= @product.sales_status %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<!-- <p>
  <strong>Is deleted:</strong>
  <%= @product.is_deleted %>
</p> -->


<%= link_to '商品一覧に戻る', admin_products_path %>
<%= link_to '入荷情報を編集する', new_admin_product_arrival_path(@product) %>
<%= link_to '商品情報を編集する', edit_admin_product_path(@product) %>



