<p id="notice"><%= notice %></p>

<p>
  <strong>Family name kanji:</strong>
  <%= @end_user.family_name_kanji %>
</p>

<p>
  <strong>Given name kanji:</strong>
  <%= @end_user.given_name_kanji %>
</p>

<p>
  <strong>Family name kana:</strong>
  <%= @end_user.family_name_kana %>
</p>

<p>
  <strong>Given name kana:</strong>
  <%= @end_user.given_name_kana %>
</p>

<p>
  <strong>Address:</strong>
  <%= @end_user.address %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @end_user.post_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @end_user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @end_user.password %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @end_user.phone_number %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @end_user.deleted_at %>
</p>

<%= link_to 'Edit', edit_end_user_path(@end_user) %> |
<%= link_to 'Back', end_users_path %>
