<!DOCTYPE html>
<html>
  <head>
    <title>Record Factory</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 <% if admin_user_signed_in? %>

  <%= render 'shared/admin_header' %>

  <%= yield %>

  <%= render 'shared/footer' %>

<% elsif end_user_signed_in? %>

 <%= render 'shared/end_user_header' %>

  <%= yield %>

  <%= render 'shared/footer' %>

<% else %>

<%= render 'shared/before_sign_in_header' %>

　<%= yield %>

<%= render 'shared/footer' %>

<% end %>

  </body>
</html>
